<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDW_kKfFWwGT27FbW6QWRakaPPLHwY9WfE</string>
	<key>GCM_SENDER_ID</key>
	<string>344661659169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grzybek</string>
	<key>PROJECT_ID</key>
	<string>grzybek-36563</string>
	<key>STORAGE_BUCKET</key>
	<string>grzybek-36563.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344661659169:ios:9c54b68f211131c8fadd60</string>
</dict>
</plist>